/***********************************************
 *
 * EC Computers LLC
 * Author- Eric Carestia
 *
 * http://ercsoftworks.com main style sheet
 *
 *
 * Please don't steal my stuff!
 *
 **********************************************/
html {
	min-height: 100%
}
body {
	z-index: -1;
	width: 100%;
	height: auto;
	color: #898989;
	margin: 0 0 290s;
	padding: 0;
	/**background: #AAAAAA;**/
	background: url(images/az_subtle.png);
}
div {
	display: block;
}
h1, h2, h3, h4, h5, h6 {

	font-family: source_sans;
	color: black;
	width: auto;
}

ol, ul {
	list-style: none;
}
li {
	display: list-item;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	width: 130px;
}
a {
	text-decoration: none;
}
article, p {
	font-family: source_sans;
	font-size: 15px;
	color: #262221;
	margin-left: 15px;
	margin-right: 15px;
}

fieldset {
	font-family: source_sans;
	font-size: 24px;
	background: #FFFFFF;
	height: 732px;
	margin-top: -10px;
}

label {
	display: block;
	text-align: left;
	width: 200px;
}
form {
	width: 500px;
	float: left;
}
input {
	width: 350px;
	height: 22px;
	display: block;
}

button {
	width: 150px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	font-family: source_sans;
	border: none;
	background: #BC0000;
	color: white;
}

button:hover {
	background: #EF0000;
}

/**********************************
 *
 *Header,Content, and Footer Styles
 *
 **********************************/

.divider {

	height: 1px;
	width: 1020px;
	margin-left: 25px;
	margin-right: auto;
	float: left;
	background: #999999;
}
.blank_divider {
	height: 15px;
	width: 1020px;
	margin-left: 25px;
	margin-right: auto;
	float: left;
}
.top_bottom_borders {
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

.centered_tagline {
	font-size: 30px;
	font-family: source_sans;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 1070px;
	height: auto;
	clear: both;
	color: black;
	margin-top: 40px;
}
.container {
	background: none;
	height: 400px;
	width: 1070px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-family: source_sans;
}
.container2 {
	background: none;
	height: 550px;
	width: 1070px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	-moz-box-shadow: 0 10px 10px -8px #555;
	-webkit-box-shadow: 0 10px 10px -8px #555;
	box-shadow: 0 10px 10px -8px #555;
}

.container_half {
	background: none;
	height: 200px;
	width: 1070px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-family: source_sans;
}

.container_quarter {
	background: none;
	height: 100px;
	width: 1070px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-family: source_sans;
}

.container_eigth {
	background: none;
	height: 50px;
	width: 1070px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-family: source_sans;
}

.container_half_left75 {
	width: 765px;
	height: 200px;
	float: left;
	background: #FFFFFF;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
.container_half_right25 {

	float: left;
	margin-left: 45px;
	width: 255px;
	height: 200px;
}

.container_tagstrip {
	width: 100%;
	height: 60px;
	float: left;
	background: #FFFFFF;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
	font-family: source_sans;
}
.tagstrip_topline {
	font-family: 'Raleway';
	font-weight: 500;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom:0px;
}
.tagstrip_text{
	margin-top:0px;
	margin-left:0px;
}
/**contact page form/fieldset specific substyles**/
.message {
	width: 350px;
	height: 200px;
}

.feature_image {
	opacity: 0.85;
}

#top_bar {
	width: 1070px;
	height: 5px;
	background: url(images/top_strip.png);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
}

#header {
	font-family: Raleway;
	width: 100%;
	background: #333333;
	color: #F1EFE1;
	font-size: 14pt;
	font-weight: 300;
	height: 60px;
	float: left;
	-moz-box-shadow: 0 10px 10px -8px #555;
	-webkit-box-shadow: 0 10px 10px -8px #555;
	box-shadow: 0 10px 10px -8px #555;
}

#header_ribbon {
	height: 100px;
	width: 79px;
	float: left;
	margin-left: 150px;
	background: url(images/red_ribbon.png);
}

/*******************Header Nav List Section*************/

#header h1 {
	color: black;
	float: left;
	width: auto;
	height: auto;
	text-transform: uppercase;
	margin-top: 15px;
	padding-left: 10px;
	letter-spacing: -1px;
}

#header h1 a {
	font-size: 28px;
	display: block;
	width: 260px;
	height: 27px;
	margin-left: 6px;
}

#header h1 a:hover, h1 a:visited {
	color: #AF670A;
}

#header h2 {
	font-family: Pacifico;
	font-size: 28px;
	float: left;
	margin-left: 15px;
	margin-top: 1px;
	margin-bottom: 20px;
	width: 100%;
	height: 27px;
	padding-top: 18px;
	color: #C2E0F2;
	/*color: #83C3EB;*/

}

/*********Content Sub-Styles************/
#content_wrapper {
	z-index: 0;
	margin: auto;
	width: 1070px;
	position: relative;
	height: 650px;
	margin-top: 0;
	/*background: #222222;*/
	background: #FFFFFF;
	margin-bottom: 10px;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#content_wrapper_2 {
	z-index: 0;
	margin: auto;
	width: 1070px;
	position: relative;
	height: 700px;
	margin-top: 0;
	/*background: #222222;*/
	background: #FFFFFF;
	margin-bottom: 10px;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
#content_wrapper_top {
	width: 1070px;
	height: 70px;
	margin: auto;
}
#content_wrapper_top h1 {
	color: black;
	float: left;
	width: auto;
	height: auto;
	text-transform: uppercase;
	margin-top: 20px;
	padding-left: 25px;
}

#content_wrapper_top_mid {
	width: 325px;
	height: 50px;
	float: left;
	margin-left: 50px;
	margin-top: 15px;
	border-left: 1px solid #333333;
}
#content_wrapper_top_mid p {
	margin-top: 0px;
	font-family: source_sans;
	font-style: italic;
	font-size: 18px;
	text-align: left;
}

#content_wrapper_top_right {
	width: 400px;
	height: inherit;
	background: #333333;
	float: right;
	margin-top: 3px;
	-moz-box-shadow: 0 10px 10px -8px #555;
	-webkit-box-shadow: 0 10px 10px -8px #555;
	box-shadow: 0 10px 10px -8px #555;
}

#content_wrapper_top_right p {
	text-align: left;
	overflow: hidden;
	font-family: Raleway;
	color: #F1EFE1;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
}
#content_wrapper_top_right_container {
	width: 75px;
	height: 70px;
	opacity: 0.75;
	float: left;
	background: url(images/envelope.png) no-repeat center center;
}

#content_wrapper h2 {

	font-size: 27px;
	font-weight: 500;
	float: left;
	margin-left: 15px;
	margin-top: 1px;
	margin-bottom: 20px;
	width: auto;
	height: 27px;
	padding-top: 18px;
	color: #000000;
}

#content_tagline {

	width: 1070px;
	height: 78px;
	color: black;
	float: left;
}
#content_tagline h2 {
	margin-top: 15px;
	width: 1070px;
	margin-left: 0px;
	color: black;
	text-align: center;
	font-size: 32px;
	font-family: source_sans;
}

#content_tagline_2 {
	width: 1070px;
	height: 78px;
	color: black;
}

#content_tagline_2 h2 {
	padding-top: 30px;
	width: inherit;
	color: black;
	text-align: center;
	font-size: 32px;
	font-family: source_sans;
}
/***************Main Area, right below header************/
#content_main {
	float: left;
	width: 720px;
	height: 310px;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border-color: black;
	background: none;
}
#content_main_bottom {

	width: 720px;
	height: 75px;
	background: blue;
	float: left;
	background: #FFFFFF;
	margin-left: 25px;
}

#content_main_services {
	float: left;
	width: 530px;
	height: auto;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom: 10px;
}

/****************webdesign substyles******************/
.heading_text {
	color: black;
	margin-top: 17px;
	width: 350px;
	height: 25px;
	float: left;
	clear: right;
	font-size: 24px;
	font-family: source_sans;
}

/************Secondary Content, to the left of the #content_main slideshow*********/
#content_secondary {
	background: #FFFFFF;
	float: left;
	width: 350px;
	height: 300px;
	margin-top: 35px;
	color: black;
}
#content_secondary_top {

	width: 350px;
	height: 45px;
}

#content_secondary_top_text {
	width: 350px;
	opacity: 1;
	font-size: 36px;
	color: white;
	font-weight: 500;
	float: left;
	text-align: left;
	padding-top: 10px;
	margin-left: 12px;
}
#content_secondary h3 {
	width: auto;
	float: left;
	font-size: 28px;
	margin-left: 15px;
	font-weight: 300;
	color: white;
}

#content_secondary p {
	opacity: 1;
	font-size: 14pt;
	color: white;
}

#content_secondary a {
	color: #BC0000;
	text-decoration: none;
	font-family: source_sans;
}
/***************Main columns of text, right below content_main slideshow & secondary************/
/***********use box on index**********/

#content_box {

	width: 650px;
	height: 410px;
	margin-left: 30px;
	float: left;
	margin-right: 40px;
}

#content_box a {
	text-decoration: none;
	color: #BC0000;
	font-family: source_sans;
}

#content_box h3 {
	font-family: source_sans;
	margin-left: 15px;
}
#content_box p {
	color: black;
	font-family: 'Raleway' sans-serif;
	font-size: 16px;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-bottom: 0px;
}
#content_box_bottom {

	width: 650px;
	height: 64px;
	margin-top: 36px;
	float: left;
}
#content_box_bottom_image {
	float: left;
	width: 64px;
	height: 64px;
	background: url(images/checkmark.png);
}
#content_box_bottom h2 {
	width: 400px;
	height: 64px;
	margin-top: -5px;
	margin-left: 10px;
}

/******content box to the right of content_box********/

#content_box_right {

	color: black;
	width: 320px;
	height: 410px;
	float: left;
	background: #DFDFDF;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

/*****the narrow box to the left*****/
#content_box_left {

	width: 290px;
	height: 375px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#content_left_container_top {
	width: 290px;
	height: 125px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

#content_left_container_bottom {
	width: 290px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

#container_left_container_img1 {
	height: 115px;
	width: 260px;
	background: url(images/sprite2.png);
	background-position: 0px 0px;
	float: left;
	margin-left: 0px;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#container_left_container_img2 {
	height: 200px;
	width: 115px;
	background: url(images/sprite2.png);
	background-position: 0px -125px;
	float: left;
	margin-left: 0px;
	margin-right: 30px;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
#container_left_container_img3 {
	height: 200px;
	width: 115px;
	background: url(images/sprite2.png);
	background-position: 0px -335px;
	float: left;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#content_box_right_top {
	margin-top: 40px;
	height: 145px;
	width: 350px;
	float: left;
}
#content_box_right_top h2 {

	text-align: center;
	width: 350px;
	height: 20px;
	color: black;
	text-align: left;
	margin-left: 10px;
	font-family: source_sans;
}

#content_box_right_top p {

	width: 350px;
	color: white;
	font-family: 'Raleway' sans-serif;
	font-size: 16px;
	height: 95px;
	float: left;
	margin-left: 10px;
}
#content_box_right_top a {
	color: #BC0000;
	text-decoration: none;
	font-family: source_sans;
}

#content_web_design {
	float: left;
	width: 523px;
	height: auto;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 40px;
}
#content_web_design_img {
	float: right;
	width: 714px;
	height: 221px;
	margin-top: 65px;
	margin-right: 10px;
	background: url(images/web_design_bg.png);
	/**-moz-box-shadow: 0 10px 10px -7px #555;
	 -webkit-box-shadow: 0 10px 10px -7px #555;
	 box-shadow: 0 10px 10px -7px #555;**/
}

#content_web_design_right {

	float: left;
	width: 510px;
	height: auto;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 40px;
}
#content_web_design_right_top {

	float: left;
	width: 510px;
	height: 185px;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 25px;
}

#content_web_design_right_top_img {
	float: left;
	background: url(images/line_arrow.png);
	height: 128px;
	width: 128px;
	margin-right: 10px;
	margin-top: 20px;
}

#content_web_design_right_bottom {

	float: left;
	width: 510px;
	height: 185px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 40px;
}

#content_web_design_right_bottom_img {
	float: left;
	background: url(images/gears.png);
	height: 128px;
	width: 128px;
	margin-right: 10px;
	margin-top: 20px;
}

#content_web_design_left {
	height: 300px;
	width: 300px;
	float: left;
	margin-left: 10px;
	background: blue;
}

/************Middle area, optional for other pages*****************/

/*********************************columns****************************/

#content_main_col1 {
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 5%;
	float: left;
	width: 321px;
	height: 685px;
	color: black;
}

#content_main_col1 ul {
	list-style: disc;
	clear: both;
	color: black;
}

#content_main_col1 li {
	text-transform: none;
	width: 300px;
	font-family: "Raleway", sans-serif;
	border-bottom: 1px solid #C7C7B7;
	margin-left: -10px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-right: 10px;
	color: black;
}

#content_main_col1 h2 {

	width: 340px;
	clear: both;
	text-align: center;
	height: 45px;
	margin-left: 0px;
}
#content_main_col1 p {
	color: black;
}

#content_main_col1 button {
	height: 50px;
	width: 150px;
	margin-left: 30px;
	float: left;
	background: #BC0000;
	color: #F1F1F1;
	border: none;
}

#content_main_col1_img {
	height: 200px;
	width: 200px;
	background: url(images/sprite2.png);
	background-position: 0px -1070px;
	float: left;
	margin-left: 60px;
	margin-right: 60px;
}
/********Use on col2,col3 on services page.********/
#content_main_col2 {

	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 500px;
	height: 685px;
	color: black;
	margin-bottom: 35px;
}

#content_main_col2 ul {
	list-style: disc;
	clear: both;
	color: black;
}

#content_main_col2 li {
	text-transform: none;
	width: 300px;
	font-family: "Raleway", sans-serif;
	border-bottom: 1px solid #C7C7B7;
	margin-left: -10px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-right: 10px;
	color: black;
}

#content_main_col2 h2 {

	width: 500px;
	clear: both;
	text-align: center;
	height: 45px;
	margin-left: 0px;
}

#content_main_col2 p {
	color: black;
}

#content_main_col2_img {
	height: 200px;
	width: 200px;
	background: url(images/sprite2.png);
	background-position: 0px -1280px;
	float: left;
	margin-left: 150px;
	margin-right: 150px;
}
#content_main_col2 button {
	height: 50px;
	width: 150px;
	margin-left: 30px;
	float: left;
	background: #BC0000;
	color: #F1F1F1;
	border: none;
}

#content_main_col2 form {
	width: auto;
	height: auto;
}

#content_main_col3 {

	margin-top: 20px;
	float: right;
	width: 340px;
	height: 475px;
	color: black;
	background: #E8E8E8;
	margin-right: 0px;
}

#content_main_col3 h2 {
	/**width: 270px;
	 clear: both;
	 color: black;
	 text-align: left;
	 padding-left: 30px;**/
	background: #333333;
	color: #F1F1F1;
	width: 340px;
	clear: both;
	text-align: center;
	height: 45px;
	margin-left: 0px;
}

#content_main_col3 p {
	color: black;
	margin-top: -10px;
}
#content_main_col3 a {
	text-decoration: none;
	color: #BC0000;
	font-family: source_sans;
	margin-left: 15px;
}
#content_main_col3 h3 {
	width: 340px;
	clear: both;
	text-align: center;
	padding-left: 7px;
	height: 20px;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */
#content_software {
	width: 1050px;
	height: 325px;
	background: red;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	background: #EDEDED;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
.software-bg-r2-c4, .software-bg-r2-c7, .software-bg-r2-c10, .software-bg-r2-c2 {
	display: block;
	background: url('images/software_sprite.png') no-repeat;
}

.software-bg-r2-c4 {
	background-position: -10px -0px;
	width: 214px;
	height: 308px;
	float: left;
	margin-top: 17px;
	margin-left: 30px;
}
.software-bg-r2-c7 {
	background-position: -10px -319px;
	width: 214px;
	height: 308px;
	float: left;
	margin-top: 17px;
	margin-left: 30px;
}
.software-bg-r2-c10 {
	background-position: -10px -637px;
	width: 214px;
	height: 308px;
	float: left;
	margin-top: 17px;
	margin-left: 30px;
}
.software-bg-r2-c2 {
	background-position: -10px -955px;
	width: 214px;
	height: 308px;
	float: left;
	margin-top: 17px;
	margin-left: 50px;
}

#content_shadow {

	height: 55px;
	width: 1000px;
	margin-left: 35px;
	margin-right: auto;
	float: left;
}

/***Contact page css***/
#contact_form {
	width: 520px;
	height: 745px;
	float: left;
	color: black;
	margin-left: 5px;
	margin-top: -1px;
}
#contact_message {
	width: 530px;
	height: 742px;
	float: left;
	padding-top: 2px;
	text-align: left;
}
#contact_message_spacer {

	float: left;
	width: 37px;
	height: 742px;
	margin-left: -22px;
	padding-top: 2px;
}
#contact_message p {
	font-size: 18px;
}
#contact_sent_mail {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(images/mail_sent.png);
}

#center_message {
	font-family: source_sans;
	width: 500px;
	height: auto;
	float: left;
	margin-left: 285px;
	margin-right: auto;
	margin-top: 40px;
	text-align: center;
	font-size: 20px;
	color: black;
}

#reasons {
	display: block;
	font-family: source_sans;
}

/******3 content buckets*******/
/*******Test styles for bucket and feature jquery images********/

#content_bucket_1 {

	float: left;
	width: 321px;
	height: 400px;
	background: #FFFFFF;
	margin-left: 0%;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#content_bucket_1_header {

	padding-top: 15px;
	font-family: source_sans;
	color: #FFFFFF;
	font-size: 22px;
	background: #333333;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
#content_bucket_1_image {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	background: url(images/Texture04.png) no-repeat;
}

#content_bucket_2 {

	float: left;
	width: 321px;
	height: 400px;
	background: #FFFFFF;
	margin-left: 5%;
	margin-right: 5%;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#content_bucket_2_header {

	padding-top: 15px;
	font-family: source_sans;
	color: #FFFFFF;
	font-size: 22px;
	background: #333333;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
#content_bucket_2_image {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	background: url(images/sprite2.png);
	background-position: 0px -1070px;
}

#content_bucket_2 p {
	width: 321px;
	text-align: center;
	font-size: 20px;
	margin-left: 0px;
}

#content_bucket_3 {

	float: left;
	width: 321px;
	height: 400px;
	background: #FFFFFF;
	margin-right: 0%;
	margin-bottom: 50px;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#content_bucket_3 p {
	width: 321px;
	text-align: center;
	font-size: 20px;
	margin-left: 0px;
}

#content_bucket_3_header {

	padding-top: 15px;
	font-family: source_sans;
	color: #FFFFFF;
	font-size: 22px;
	background: #333333;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}
#content_bucket_3_image {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	background: url(images/sprite2.png);
	background-position: 0px -1280px;
}

.web_content_bucket_header1 {

	padding-top: 15px;
	font-family: source_sans;
	background: #B20000;
	font-size: 22px;
	color: white;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

.web_content_bucket_header2 {

	padding-top: 15px;
	font-family: source_sans;
	background: #0059B2;
	font-size: 22px;
	color: white;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

.web_content_bucket_header3 {

	padding-top: 15px;
	font-family: source_sans;
	background: #217C7E;
	font-size: 22px;
	color: white;
	width: 321px;
	height: 40px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

/********Footer Sub-styles*************/

#footer_end {
	display: block;
	height: 40px;
	width: 1070px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: white;
	font-size: 13px;
	background: #CDCDCD;
	-moz-box-shadow: 0 10px 10px -88px #555;
	-webkit-box-shadow: 0 10px 10px -8px #555;
	box-shadow: 0 10px 10px -8px #555;
}
#footer_end h4 {
	float: left;
	width: auto;
	margin-left: 25px;
	margin-top: 12px;
}
#footer_end p {
	float: left;
	display: block;
}
#footer_end ul {
	float: right;
	margin-right: 10px;
}
#footer_end li {
	color: black;
	display: inline;
	width: 90px;
	padding-right: 15px;
}

#footer_end a {
	color: black;
}

/****************************
 *
 *Slideshow script
 *
 ****************************/
#slideshow {
	position: relative;
	width: 710px;
	height: 300px;
	margin-left: 30px;
	margin-right: auto;
	-moz-box-shadow: 0 10px 10px -7px #555;
	-webkit-box-shadow: 0 10px 10px -7px #555;
	box-shadow: 0 10px 10px -7px #555;
}

#slideshow IMG {
	position: absolute;
	width: 710px;
	z-index: 8;
}

#slideshow IMG.active {
	z-index: 10;
}

#slideshow IMG.last-active {
	z-index: 9;
}

/*******TextSlideUp***********/

#text_slide {
	position: relative;
	width: 600px;
	height: 40px;
	float: left;
	margin-left: 30px;
}

#text_slide p {
	font-family: source_sans;
	font-size: 24px;
	opacity: 0;
	width: 600px;
	height: 40px;
	position: absolute;
	z-index: 8;
	margin-top: 25px;
}

#text_slide p.active {
	z-index: 10;
	opacity: 1;
	margin-top: 25px;
}

#text_slide p.last-active {
	z-index: 9;
}

/***********************************
 *
 *Class Styles
 *
 **********************************/
.clearfix {
	display: block;
}

.clearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.parent-element {
	background: url(images/sprite2.png);
}

/************************************
 *
 * Font-face declarations
 *
 *************************************/

@font-face {
	font-family: 'source_sans';
	src: url('fonts/SourceSansPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Aliguam;
	src: url(fonts/Aliguam.ttf);
	src: url("Aliquam.eot") /* EOT file for IE */
}

@font-face {
	font-family: BigNoodleTitling;
	src: url('fonts/big_noodle_titling.ttf');
}
@font-face {
	font-family: BigNoodleTitlingOblique;
	src: url('fonts/big_noodle_titling_oblique.ttf');
}

@font-face {
	font-family: AliquamRit;
	src: url(fonts/AliguamRit.ttf);
}
@font-face {
	font-family: AliquamUlti;
	src: url(fonts/Aliguamulti.ttf);
}

