AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1606/virtualhosts.conf- AuthName "ercsoftworks.com Statistics"
AuthUserFile /var/chroot/home/content/98/10970198/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
